body {
    
    background-color: #162E93;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

@font-face {
    font-family: 'Orbitron';
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
}


.login_container {
    width: 550px;
    height: 100vh;
    border-radius: 90px 0 0 0;
    background: #2F2FE4;
    display: flex;
    justify-content: center;
}

.form_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_container {
    display: flex;
    font-family: 'Orbitron';
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.form_wrapper h1 {
    font-weight: 700;
    font-family: 'Orbitron';
    font-size: 36px;
    margin-bottom: 50px;
    color: #ffffff;
}

input[name="email"],
input[name="password"] {
    background-color: #d1d1d1;
    color: #000000 !important;
    width: 360px;
    height: 40px;
    border-radius: 67px;
    border-style: none;
    margin-bottom: 20px;
    padding-left: 10px;
}

input[type="submit"] {
    width: 370px;
    height: 45px;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    border-radius: 67px;
    border-style: none;
    background-color: #1A1953;
} 

    
